#leaflet_map_ui-map {
  height: 96% !important;
}

.card {
  width: 100% !important;
}

.time-slider {
  width: 100% !important;
}

.shiny-input-container {
  width: 100% !important;
}

.ui.form {
  padding-top: 1vh;
}

.icon {
  color: #428bca;
}

body {
  background-color: rgba(212,218,220,0.1);
}